DATA_SOURCE=db
DATABASE_URL="file:./dev.db"
GAS_BASE_URL="https://script.google.com/macros/s/YOUR_SCRIPT_ID/exec"
SHEET_RANGE="Лист1!A:M"
JWT_SECRET="super-secret-key"
TZ=Europe/Moscow
AUTO_SYNC_ENABLED=true
