DATA_SOURCE=db
DATABASE_URL="file:./dev.db"
GAS_BASE_URL="https://script.google.com/macros/s/AKfycbwu4XAow8CCcyfXpBymRLSuszfaX4fzLCVMsqAwbRxkzgDwZ3GbBUtLJ3AvZHTUUcpF/exec"
SHEET_SPREADSHEET_ID="13QHXrG1SRsnkCgzzbbgT0lmrAc85CRlU28xlEBvDJSs"
SHEET_RANGE="Лист1!A:M"
JWT_SECRET="super-secret-key"
TZ=Europe/Moscow
AUTO_SYNC_ENABLED=true
SUGGESTIONS_HTTP_ENDPOINT=""
