@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-textPrimary min-h-screen;
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-accentBlue hover:text-accentPink transition-colors;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
